# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build artifacts
/build

# Static HTML exports
# /docs # if you export to a docs folder

# Miscellaneous
.DS_Store
*.pem

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# TypeScript cache files
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Optional Prettier cache
.prettiercache

# Output of storybook build
/storybook-static

# vercel
.vercel

# typescript
next-env.d.ts

# Firebase
.firebase